mat-grid-tile {
    background:rgb(21, 139, 218);
  }
 .mat-raised-button{
    width: 100%;
    padding: 10px;
    color:rgb(21, 139, 218);
    font-weight:bold;
}
.padBot{
    padding-bottom: 20px;
}
.profile-image{
    height: 100%;
    width: 100%;
}