
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <img class="profile-image" src="/assets/images/twitter.png" alt="Profile">
        </mat-grid-tile>
        <mat-grid-tile>
                <div style="width: 100%;">
                <div class="padBot">
                    <button mat-raised-button  (click)="goToLogin()">Login</button>
                </div>
                <button mat-raised-button  (click)="goToRegister()">Register</button>
                </div>
        </mat-grid-tile>
    </mat-grid-list>