<nav class="navbar navbar-expand-lg ">
    <div class="navLink text" routerLink="home">TweetApp</div>
      <!-- <div class="navLink" *ngIf="getLoginStatus()" routerLink="tweet">TweetApp</div> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarSupportContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBarSupportContent">
        <ul class="navbar-nav ml-auto mb-2">
            <li class="nav-item">
              <a class="nav-link text" routerLink="profileTweet">My Profile</a></li>
              <li class="nav-item">
                <a class="nav-link text" routerLink="userTweet" >All Tweets</a></li>
              <li class="nav-item">
              <a class="nav-link text" href="#" >Logout</a></li>
         
        </ul>
      </div>
    </nav>