<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <h5>Find your twitter account</h5>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="User" formControlName="loginId" required>
                            <mat-error *ngIf="!form.controls['loginId'].valid">
                                Login Id is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput type="password" placeholder="Password" formControlName="password" required>
                            <mat-error *ngIf="!form.controls['password'].valid">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword" required>
                            <mat-error *ngIf="!form.controls['confirmPassword'].valid">
                                <div *ngIf="form.controls['confirmPassword'].errors?.required">Confirm Password is required.</div> 
                                <div *ngIf="form.controls['confirmPassword'].errors?.confirmedValidator">Password and Confirm Password must be match.</div>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Update</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>