.profile-image{
    width:100%;
    height: 230px;
}
.text{
    color:rgb(21, 139, 218);
 }
 .padTop{
     padding-top: 12px;
 }
 .padleft{
    padding-left: 15px; 
 }
 .mat-icon{
     vertical-align: top;
     color:rgb(21, 139, 218);
 }