.searchbar{
    color: white;
    }
    
    .searchBox{
       width: 1000px;
       background-color: white;
       color:black;
    }

    .jumbotron {
        background-image: url("/assets/images/jumbotron.jfif");
        background-size: cover;
      }
